@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 160 84% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 160 60% 94%;
    --accent-foreground: 160 70% 20%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --success: 150 60% 40%;
    --success-foreground: 0 0% 100%;
    --warn: 38 92% 50%;
    --warn-foreground: 24 90% 20%;
    --ring: 160 84% 30%;
    --input: 240 6% 87%;
    --border: 240 6% 88%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 96%;
    --card: 240 8% 7%;
    --card-foreground: 0 0% 96%;
    --popover: 240 8% 7%;
    --popover-foreground: 0 0% 96%;
    --primary: 160 70% 40%;
    --primary-foreground: 160 60% 8%;
    --secondary: 240 6% 14%;
    --secondary-foreground: 0 0% 92%;
    --muted: 240 6% 14%;
    --muted-foreground: 240 5% 64%;
    --accent: 160 40% 16%;
    --accent-foreground: 160 70% 80%;
    --destructive: 0 62% 45%;
    --destructive-foreground: 0 0% 100%;
    --success: 150 45% 42%;
    --success-foreground: 0 0% 100%;
    --warn: 40 80% 55%;
    --warn-foreground: 20 90% 12%;
    --ring: 160 70% 40%;
    --input: 240 6% 22%;
    --border: 240 6% 18%;
  }
}
